$color-white: #ffffff;
$color-black: #000000;

$color-dark-gray: rgb(51,51,51);
$color-mid-gray: #555;
$color-light-gray: #aaa;
$color-pale-gray: #f8f8f8;
$color-shadow-gray: #efefef;

$color-link: #0b60b7;
$color-hover: #1c7de1;